{{extend "layout.html"}}

{{block center}}
  <style media="screen">
    .post {
      height: 150px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis
    }
  </style>
  <div class="container" style="margin-top: 10px; margin-bottom: 10px;">
    {{for p in posts:}}
      <div class="panel panel-default">
        <div class="panel-heading">
          {{=XML(p.title)}}
        </div>
        <div class="panel-body">
            <div class="post"  style="margin-top: 20px; margin-bottom: 10px; padding-top: 10px;">
                {{=XML(p.post, sanitize=False,)}}
            </div>
          </div>
          <div class="panel-footer">
            <a href="{{=URL('blog','read',args=[p.id])}}" style="color: blue; font-style: italic;">
              Contine lendo...
            </a>
          </div>
      </div>

    {{pass}}
    <br>
    {{if (page < pages) and (page != 1):}}
      <a class="btn btn-link"href={{=URL(vars={'page':int(request.vars.page)-1})}}>Anterior</a>
      <a class="btn btn-link"href={{=URL(vars={'page':int(request.vars.page)+1})}}>Próximo</a>
    {{elif page == 1:}}
      <a class="btn btn-link"href={{=URL(vars={'page':int(request.vars.page)+1})}}>Próximo</a>
    {{elif page == pages:}}
      <a class="btn btn-link"href={{=URL(vars={'page':int(request.vars.page)-1})}}>Anterior</a>
    {{pass}}
  </div>
{{end}}
